.App {
  height: 100vh;
  display: flex;
  padding: 0 0rem 0 0rem;
}

.components {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.parameter-select {
  margin-top: 1rem;
}

.time-select {
  margin-top: 1rem;
}

.country-select {
  margin-top: 4rem;
}

.card {
  margin: 1rem;
}
